.addDoctor{
  background-color: #fff;
  padding:15px;
  border-radius: 10px;
  margin:10px;
  max-width: 380px;
}
.input{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.input label{
  font-size: 14px;
}
.input input {
  padding: 10px 5px;
  border: 1px solid hwb(0 85% 15%);
  border-radius: 5px;
  font-size: 15px;
}
.submitBtn {
  position: absolute;
  right: 0;
  bottom: -50px;
}
.inline-block{
  display: inline-block !important;
}