@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary: #0fcfec;
  --secondary: #19d3ae;
  --dark: #3a4256;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  scroll-behavior: smooth;
}

.wrap {
  max-width: 1120px;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0px 20px;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--dark);
}
img {
  width: 100%;
}

.btn {
  background: var(--dark);
  color: var(--white);
  padding: 1rem 1.8rem;
  border-radius: 0.6rem;
  font-weight: bold;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  opacity: 86%;
}
.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.dark {
  color: var(--dark);
}
.bg-primary {
  background: var(--primary);
}
.bg-secondary {
  background: var(--secondary);
}
.bg-dark {
  background: var(--dark);
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.col-2 {
  flex: 1 1 356px;
}
/* --home --  */
.home-wrap {
  background: url("./assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

/* ---nav ber css start ---  */
.nav-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
}
.nav-wrap ul {
  display: flex;
  gap: 4rem;
}
.nav-wrap ul .link {
  padding: 10px 12px;
  border-radius: 5px;
  transition: 0.3s ease;
  font-weight: bold;
}
.active {
  background: var(--dark);
  color: var(--white);
}
.margin {
  margin: 9rem 0rem;
}
.h5 {
  color: var(--primary);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* ---navber css end --  */

/* --- header start --  */
header {
  min-height: 550px;
  align-items: center;
  margin: 5rem 0rem;
}
header p {
  margin: 2rem 0px;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}
/* --- header end --  */

/* --- info start ---  */

.info {
  background-color: var(--primary);
  padding: 2.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.info:nth-child(2) {
  background: var(--dark);
}
.info-icon {
  display: flex;
  justify-content: center;
}
.icon {
  color: var(--white);
  font-size: 5.6rem;
  text-align: center;
}

.info-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.info-desc p,
.info-desc h5 {
  color: var(--white);
}
/* --- info end ---  */

/* --- service -- start */
.service-top {
  display: flex;
  justify-content: center;
  color: var(--primary);
  text-align: center;
  flex-direction: column;
  gap: 10px;
  margin: 5rem 0px;
}
.service {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 14px -5px var(--dark);
}
.service .img-wrap {
  display: flex;
  justify-content: center;
}
.service .img-wrap img {
  width: 7rem;
  margin-bottom: 2rem;
}
.s-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
/* --- service -- end */

/* -- treatment -- start */
.treatment{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
  gap:5rem;
  align-items: center;
  padding: 4rem;
}
.treatment-img{
  margin: 4rem;
}
.treatment-content p {
  margin:3rem 0rem;
}
/* -- treatment -- end */

/* -- appointment -- start */
.appointment-wrap{
  background: url("./assets/images/appointment.png");
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center center;
  position: relative;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.appointment{
  display: flex;
  gap:5rem;
  align-items: center;
}
.appointment-img{
  width: 50%;
  display: block;
}
.appointment-img::before{
  content:"";
  background:url("./assets/images/doctor-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 380px;
  height: 40rem;
  position: absolute;
  bottom: 0;
  left: 12%;
}
.appointment-content{
  width: 50%;
  padding: 2rem 0rem;
}
.appointment-content p, .appointment-content h3{
  color:var(--white)
}
.appointment-content p{
  margin:2rem 0rem;
}
/* -- appointment -- end */

/* --  testimonial -- start */
.testimornial-top{
  display: flex;
  justify-content: space-between;
}
.quote{
  width: 15rem;
  height: 15rem;
  color:#e2f8f9;
}
.tm-col{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 5rem 0rem;;
}
.tm-row{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 3px 3px 14px -5px var(--dark);
  padding: 4rem;
  border-radius: 1rem;
}
.tm-info-wrap{
  display: flex;
  gap:2rem;
  align-items: center;
}
.tm-logo{
  width: 60px;
  height: 60px;
  border: 3px solid var(--secondary);
  border-radius: 50%;
}
/* --  testimonial -- end */

/* -- contact --- start */
  .contact-wrap{
    background: url("./assets//images/appointment.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .c-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5rem 0rem;
  }
  .c-top{
    text-align: center;
  }
  .c-top h3{
    color:var(--white);
    margin-bottom: 3rem;
  }
  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
  }
  form{
    display: flex;
    flex-direction: column;
    gap:2rem;
  }
  input , textarea{
    width: 350px;
    padding:.8rem 1.5rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.6rem;
  }
  form .inline-block{
    display: inline-block!important;
  }
  .btn-wrap{
    display: flex;
    justify-content: center;
  }
/* -- contact --- end */

/* -- Footer -- start */
.footer-wrap{
  background: url("./assets//images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.f-top{
  display: flex;
  justify-content: center;
  padding:5rem 0rem;
  flex-wrap: wrap;
  gap:5rem;
  width: 100%;
}
.f-top ul{
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.f-top ul li {
  font-size: 1.4rem;
  cursor: pointer;
}
.f-bottom{
  padding:3rem;
  text-align: center;
}
/* -- Footer -- end */

@media screen and (max-width: 700px) {
  .info {
    flex-direction: column;
  }
  .header-content {
    order: 2;
  }
  .appointment-img{
    display: none;
  }
  .quote{
    display: none;
  }

}


@media screen and (max-width: 900px) {
  .treatment-img img{
    width: 100%;
    border-radius: 1rem;
    max-height: 400px;
  }
  .treatment-img{
    margin:0;
  }
 .appointment-img{
    display: none;
  }
  .appointment-content{
    width: 100%;
  }
}