@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary: #0fcfec;
  --secondary: #19d3ae;
  --dark: #3a4256;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  scroll-behavior: smooth;
}

.wrap {
  max-width: 1120px;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0px 20px;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--dark);
}
img {
  width: 100%;
}
.wrap{
  padding:20px 0px;
}
.wrap {
  padding: 0px 20px;
}

.btn {
  background: var(--dark);
  color: var(--white);
  padding: 1rem 1.8rem;
  border-radius: 0.6rem;
  font-weight: bold;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  opacity: 86%;
}
.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.dark {
  color: var(--dark);
}
.bg-primary {
  background: var(--primary);
}
.bg-secondary {
  background: var(--secondary);
}
.bg-dark {
  background: var(--dark);
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.col-2 {
  flex: 1 1 400px;
}
.grid-3{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
/* --home --  */
.home-wrap {
  background: url(https://raw.githubusercontent.com/sabbir-hosen-dev/Dental_Care/main/src/assets/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

/* --- header end --  */

/* -- login page start -- */
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-wrap{
  border: 2px solid #ddd;
  padding:20px;
  border-radius:10px;
  text-align: center;
}
.login h4{
  margin-bottom: 30px;
}
.login-form .input{
  display: flex;
  flex-direction: column;
  text-align: start;
}
.login-form .input label{
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.login-wrap small{
  font-size: 11px;
  margin-top:3px;
}
.login-form .input input{
  border: 1px solid #ddd;
}
.login-wrap p{
  padding:15px 0px;
}
.bg-none{
  background: transparent;
  color:var(--dark);
  border: 1px solid #ddd;;
  display: block;
  width: 100%;
  transform:all .3s ease;
}
.bg-none:hover{
  background: var(--dark);
  color:#fff;
}
.forget{
  cursor: pointer;
  color: var(--primary);
}
.login-wrap .link{
  margin-top:2px;
  font-size: 14px;
}
/* -- login page end  -- */




.admin-sidebr .active{
  background-color: #0fcfec;
} 





